
{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailcore_tags %}

{% block body_class %}template-aboutpage{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about/about_page.css' %}">
     <!-- p style="color: rgb(110, 128, 74);">Hello World from about page</p> -->
    <div class="about-container">
        <div class="image-container">
            <div class="image-sub-container">
                {% for item in page.gallery_images.all %}
                    {% image item.image original as tmp_photo %}
                    <img src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}"
                    height="{{ tmp_photo.height }}" alt="{{ tmp_photo.alt }}" class="creator-image">
                {% endfor %}
            </div>

        </div>
        <div class="creator-container">
            <div class="creator-sub-container">
                    <div class="creator-name">{{ page.creator_name }}</div>
                    <div class="creator-profession">{{ page.creator_profession }}</div>
                    <div class="creator-description"><p>{{ page.creator_description | richtext}}</p></div>
            </div>
              
        </div> 
    </div>
    </div>
{% endblock %}
