*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.active_work{
    color: #696969;
    border-width: 0px 0px 1px 0px;
    border-color: #696969;
}

.work-container{
    height: auto;
    width: 100%;
}

.work-cards{
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.work-card {
    color: rgb(8, 8, 8);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-sub-container{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid-image{
    width: 100%;
    height: 400px;
    opacity: 1;
    z-index: -1;
    transition: .5s ease;
    object-fit: cover;
}

.work-contents{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.work-title, .work-subtitle{
    width: 70%;
}

.work-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    width: 100%;
}

.work-subtitle{
    font-size: 15px;
    font-weight: 400;
    width: 100%;
}

.work-card:hover .grid-image {
    opacity: 0.2;
}
  
.work-card:hover .work-contents {
    opacity: 1;
}



/* Media query for IPads and Tabs */

@media screen and (min-width: 481px) and (max-width: 850px)  {

    .work-cards {
        color: white;
        width: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .image-sub-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        filter: brightness(0.4);
    }

    .work-contents{
        color: white;
        transition: .5s ease;
        opacity: 1;
        position: none;
        width: 50%;
    }

    .work-card {
        color: rgb(255, 255, 255);
        padding: 1px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .work-title{
        font-size: 20px;
        font-weight: 900;
        color: white;
    }

    .work-subtitle{
        font-size: 15px;
        font-weight: 700;
        color: white;
    } 

    a{
        color:rgb(255, 255, 255);
    }
    
}











/* Media Query for Mobiles */

@media screen and (min-width: 100px) and (max-width: 480px) and (orientation : portrait) {

    .work-cards {
        width: 100%;
        margin: 90px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .work-contents{
        transition: .5s ease;
        opacity: 1;
        position: none;
        width: 60%;
    }

    .work-card {
        color: rgb(255, 255, 255);
        padding: 1px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .image-sub-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        filter: brightness(0.4);
    }
    
    .work-title a{
        font-size: 15px;
        font-weight: 700;
        color: white;
        padding: 10px auto;
    }

    .work-subtitle a {
        font-size: 10px;
        font-weight: 600;
        color: white;
        padding: 10px auto;
    }

    a{
        color:rgb(255, 255, 255);
    }
    
}